---
title: "[Verification of Outsourced Object Detection](https://github.com/chart21/Verification-of-Outsourced-Object-Detection)"
excerpt: "Let an IoT device send an image stream to a third-party edge server and receive real-time object detection results. A verifier confirms the correctness of the edge server's responses. <br/><img src='https://github.com/chart21/Verification-of-Outsourced-Object-Detection/blob/master/data/helpers/demo.gif?raw=true'>"
collection: portfolio
---

